#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.gallery {
  list-style: none;
}
.container {
  width: "1000px";
}
.layout {
  display: flex;
  column-gap: 220px;
}
.cat {
  /* flex-grow: 1; */
  /* overflow: auto; */
  /* display: flex; */
  flex-grow: 1;
  padding: "40px";
}
.catHistory {
  /* flex-grow: 1; */
  flex-grow: 1;
  padding: "40px";
  width: 200px;
}
.banList {
  width: 200px;
  flex-grow: 1;
  padding: "40px";
}
/* .his {
  padding: "40px";
} */
